<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IChatServer" sendTimeout="00:00:05"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/ChatService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChatServer" contract="ChatServiceReference.IChatServer"
                name="WSDualHttpBinding_IChatServer">
                <identity>
                    <userPrincipalName value="MIKHAILV-HP\MikhailV" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>